name: TS Lint

on:
  push:

jobs:
  ts-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: pnpm run -r lint
      - name: Chckformat
        run: pnpm run -r fmt
      - run: git diff --exit-code
